/* Estilos globais */
body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  background: url('img/360_F_205378281_67lYDCJfnwZKXAnCvyp6nykkvecjnsaj 1.png'), linear-gradient(to bottom, #FF9339, #873B11);
}

#entrarFila {
  height: 40px;
  padding: 10px;
  font-weight: 600;
  border: none;
  background-color: rgb(63, 37, 13);
  color: #D1B72E;
  border-radius: 5px;
}

#verStatus {
  height: 40px;
  padding: 10px;
  font-weight: 600;
  border: none;
  background-color: rgb(63, 37, 13);
  color: #D1B72E;
  border-radius: 5px;
}

.inputCadastro {
  width: 200px;
  padding: 5px;
  border: none;
  border-radius: 10px;
}

.AppBar {
  background-color: #333;
}

.Toolbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

#buttonCliente {
  font-family: "josefin sans";
  font-weight: 200;
  color: #D1B72E;
  top: 10px;
  font-size: 15pt;
  position: relative;
  top: 10px;
}

#buttonFuncionario {
  font-family: "josefin sans";
  font-weight: 200;
  color: #D1B72E;
  font-size: 15pt;
  position: relative;
  top: 10px;
}

.tituloInputs {
  display: flex;
  justify-content: center;
  font-weight: 400;
  color: rgb(63, 37, 13);
  text-shadow: 2px 2px 4px;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 7px;
}

#inputSenha {
  width: 200px;
  padding: 5px;
  border: none;
  border-radius: 10px;
}

/* HOVERS */
#buttonFuncionario:hover {
  text-shadow: 1px 2px 4px;
  font-weight: 300;
}

#buttonCliente:hover {
  text-shadow: 1px 2px 4px;
  font-weight: 300;
}

.MenuClienteFuncionario a:hover {
  text-decoration: underline;
}

#entrarFila:hover {
  box-shadow: 2px 1px 3px rgb(0, 0, 0, 0.6);
  transition: ease 200ms;
}

.MenuClienteFuncionario .MuiButton-root:hover {
  background-color: #0056b3;
}

#verStatus:hover {
  box-shadow: 2px 1px 3px rgb(0, 0, 0, 0.6);
  transition: ease 200ms;
}

/* HOVERS FIM */

#tituloSGF {
  font-weight: 400;
  font-family: 'Josefin Sans';
  color: #FFE2C8;
}

.Toolbar .MuiTypography-root {
  color: #fff;
}

.Toolbar .MuiButton-root {
  color: #fff;
}

.Container {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
}

.MenuClienteFuncionario {
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 10px;
  box-shadow: 0 4px 2px -2px gray;
}

.MenuClienteFuncionario a {
  color: #333;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

.MuiCard-root {
  background-color: rgb(63, 37, 13);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.MuiCardContent-root {
  text-align: center;
}

.josefin-sans-.MuiTypography-h4 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.josefin-sans-.MuiTypography-h6 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


.MuiTypography-h4 {
  color: #FFE2C8;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 0px 4px 5px rgb(0, 0, 0, 0.7);
}

.MuiTypography-h6 {
  font-family: 'josefin sans';
  color: #333;
  font-weight: 400;
}


.FilasGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.FilaCard {
  width: 300px;
  margin: 15px;
}

/* Estilos adicionais para botões no menu */
.MenuClienteFuncionario .MuiButton-root {
  background-color: #007bff;
  color: #fff;
  margin: 0 10px;
  padding: 10px 20px;
  text-transform: none;
}



/* Ajustes para responsividade */
@media (max-width: 768px) {
  .MenuClienteFuncionario {
    flex-direction: column;
    align-items: center;
  }

  .MenuClienteFuncionario a {
    margin: 5px 0;
  }
}

